.contents
  .show__article
    .show__article-entry
      .show__article-entry-header
        .show__article-entry-header__date
          .fa.fa-clock-o
          = @article.created_date
        .show__article-entry-header__title
          = link_to article_path(@article.id) do
            = @article.title
        .show__article-entry-header__genre
          .fa.fa-folder-open
            = link_to "#{@article.genre}", "/articles/search/#{@article.genre}"

      .show__article-body
        = markdown(@article.content).html_safe

  = render 'aside'
  = render 'next_previous'
