!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WapBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    =favicon_link_tag
  %body
    .header
      .header__title
        = link_to articles_path do
          .header__title__main 株式会社ワークスアプリケーションズ 内定者公式ブログ
        .header__title__sub 株式会社ワークスアプリケーションズ2018年入社予定者が、就活に関する考え、 インターンシップ情報、会社情報、その他の活動等を発信していくブログです。

      #menu
        .global-menu
          -# .item
          = link_to "/articles/search/1", class: "item" do
            .item_test
              2018年入社予定者インタビュー
          = link_to "/articles/search/2", class: "item" do
            .item_test
              パスホルダーインタビュー
          = link_to "/articles/search/3", class: "item" do
            .item_test
              Works Way Woker インタビュー
          = link_to "/articles/search/4", class: "item" do
            .item_test
              HATENK王インタビュー
          = link_to "/articles/search/5", class: "item" do
            .item_test
              その他会社に関する情報

    .main
      = yield

    .footer
      .footer__contents
        .footer__contents__adress
          株式会社ワークスアプリケーションズ　内定者公式ブログ
        .footer__contents__copyright
          Copyright PPP 2017.
